@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?75498043');
  src: url('../fonts/fontello.eot?75498043#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?75498043') format('woff'),
       url('../fonts/fontello.ttf?75498043') format('truetype'),
       url('../fonts/fontello.svg?75498043#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa{display:inline-block;font-family:fontello;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-rss:before { content: '\e807'; } /* '' */
.fa-rss-square:before { content: '\e800'; } /* '' */
.fa-github:before { content: '\e808'; } /* '' */
.fa-github-square:before { content: '\e802'; } /* '' */
.fa-linkedin:before { content: '\e805'; } /* '' */
.fa-linkedin-square:before { content: '\e806'; } /* '' */
.fa-twitter:before { content: '\e804'; } /* '' */
.fa-twitter-square:before { content: '\e803'; } /* '' */